
<app-register-form *ngIf="!buttonWasClicked"
  (signupEvent)="signupAttempted($event)">
</app-register-form>
<app-login-form *ngIf="buttonWasClicked"
  (loginEvent)="loginAttempted($event)">
</app-login-form>
<br>
<button type="button" class="btn btn-success" (click)="setButtonClicked(true)" style="margin-top: 5em;">Switch if you dare</button>
<router-outlet></router-outlet>