<!-- <p>register-form works!</p> -->

<form>
    <h4 style="margin-top: 2em;">{{ signupTitle }}</h4>
    <div class="form-group">
        <label for="password" style="margin-top: 2em;">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Enter password here...">
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input class="form-control" type="confirmPassword" id="confirmPassword" name="confirmPassword" placeholder="Please confirm password....">
    </div>
    <button class="btn btn-primary" (click)="SignupClick()" style="margin-top: 1em;">Signup</button>
</form>

<!-- <form method="post" [formGroup]="newPasswordForm">
    <input type="password" formControlName="newPassword" />
    <input type="password" formControlName="newPasswordConfirm" />
    <div class="err-msg" *ngIf="newPasswordForm.errors?.passwordMismatch && (newPasswordForm.touched || newPasswordForm.dirty)">
          confirm-password does not match password
        </div>
  </form> -->
<!-- 
<div class="form-group">
    <label class="label-sm">Confirm Password</label>
    <input class="form-control" placeholder="Enter Password" type="password" #confirm_password="ngModel" [(ngModel)]="userModel.confirm_password" name="confirm_password" required (keyup)="checkPassword($event)" />
    <div *ngIf="confirm_password.errors && (confirm_password.dirty||confirm_password.touched||signup.submitted)">
    <div class="error" *ngIf="confirm_password.errors.required">Please confirm your password</div>
    </div>
    <div *ngIf="i" class='error'>Password does not match</div>
    <button (click)="SignupClick()">Signup</button>
  </div>
 -->

